.carousel {
    text-align: center;
    margin: 0 auto;
    height: 500px;
    width: 100%;
    background-color: black;
  }

  .carouselImg {
    height: 500px;
    width: 800px;
  }

  .carousel-cell {
    padding-left: 5px;
    padding-right: 5px;
  }