.carousel {
    text-align: center;
    margin: 0 auto;
    height: 300px;
    width: 80%;
    background-color: black;
  }

  .carouselImg {
    height: 300px;
    width: 300px;
  }

  .carousel-cell {
    padding-left: 5px;
    padding-right: 5px;
  }

  #title {
    align-items: center;
    text-align: center;
  }